body {
  margin: 0px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
}

.main {
  margin: 20px;
}

.navbar {
  width: 100%;
}

.center-text {
  text-align: center;
}

.center-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}


.review-module {
  background-color: lightgrey;
  display: flex;
  justify-content: center;
  align-items: center;
}

.divider {
  height: 1px;
  overflow: hidden;
  background-color: #e0e0e0;
}
/*         <div className="divider" /> */